@mixin background-retina($normal, $retina, $contain: false) {
	background-image: image-url($normal);

	@media (-webkit-min-device-pixel-ratio: 2), 
		(min-resolution: 192dpi) {
		background-image: image-url($retina);

		@if $contain == true {
			background-size: contain;
		} @else {
			background-size: image-width($normal) image-height($normal);
		}
	}
}